---
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Santiago Moliner Food</title>
  </head>
  <body>
  <h1>Recipes</h1>

  <nav>
    <a href="/recipes">Recipes</a>
    <a href="/reviews">Reviews</a>
  </nav>
  </body>
</BaseLayout>