---
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <h1>My Food Blog</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/recipes">Recipes</a>
        <a href="/reviews">Reviews</a>
      </nav>
    </header>

    <main>
      <slot />
    </main>

    <footer>
      <p>© 2026</p>
    </footer>
  </body>
</html>